//<ШРИФТЫ>===============================================================================================

//<подключаемые шрифты>==================================================================================
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,100&display=swap');
//<подключаемые шрифты>==================================================================================

//<шрифт по умолчанию>===================================================================================
$fontfamily: "lato"
//<шрифт по умолчанию>===================================================================================

//<ШРИФТЫ>===============================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================
$minwidth: 320px;
//<ПЕРЕМЕННЫЕ>===========================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================
@import "nullstyle.scss";
body {

}
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================

//<ОБОЛОЧКА>=============================================================================================
.wrapper{
  overflow: hidden;
  min-height: 100%;
}
//<ОБОЛОЧКА>=============================================================================================

//<ОСНОВНАЯ СЕТКА>=======================================================================================
.container{
  max-width: 1130px;
  padding: 0px -15px;
}
//<ОСНОВНАЯ СЕТКА>=======================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦИ И ЭЛЕМЕНТОВ>=======================================================
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦИ И ЭЛЕМЕНТОВ>=======================================================

